.background {
    background: radial-gradient(ellipse 100% 80% at 70% 40%,
            rgba(140, 200, 238, 0.6) 40%,
            transparent 85%),
        radial-gradient(ellipse 80% 60% at 10% 20%,
            rgba(113, 165, 238, 0.679) 30%,
            transparent 80%),
        radial-gradient(ellipse 90% 70% at 50% 80%,
            rgba(180, 187, 232, 0.8) 50%,
            transparent 95%),
        linear-gradient(120deg,
            rgba(136, 209, 233, 0.192),
            rgba(178, 230, 230, 0.3)) !important;
    background-color: #e6f7ff !important;
    background-size: 300% 300% !important;
    background-blend-mode: soft-light, overlay, multiply !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}